@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-SemiBold.ttf');
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

img {
    pointer-events: none;
}

body {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    background: -o-radial-gradient(35.59% -40.57%, 96.18% 121.66%, #E5E8F2 0%, #C3C6CF 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
        ,
        -o-radial-gradient(48.54% 55.55%, 39.83% 117.6%, rgba(117, 123, 148, 0.6) 0%, rgba(213, 214, 222, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    background: radial-gradient(96.18% 121.66% at 35.59% -40.57%, #E5E8F2 0%, #C3C6CF 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
        ,
        radial-gradient(39.83% 117.6% at 48.54% 55.55%, rgba(117, 123, 148, 0.6) 0%, rgba(213, 214, 222, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}

.screen {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 30px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.screen_nav {
    pointer-events: none;
    z-index: 100;
}

a.pointer {
    pointer-events: all;
}

.logo__wrapper {
    width: 209px;
    height: 60px;
    border-radius: 46px;
    background-color: #ffffff;
    padding: 15px 34px;
}

.logo {
    width: 139px;
    height: 30px;
    background: url('../img/Logo_Colour.png') 50% / contain no-repeat;
}

.btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    pointer-events: all;
}

.btn_nav {
    background: #00000049;
    color: #ffffff;
    font-size: 14px;
    width: 195px;
    height: 60px;
    border-radius: 46px;
    gap: 19px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;

}

.btn_nav.anim {
    background: #0000001f;
}

.btn_nav.anim::after {

    opacity: 0;
}

.btn_nav.anim::before {

    opacity: 0;
}

.btn_nav::after {
    content: 'Навигация';
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.btn_nav::before {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: url('../img/Burger_menu.svg') 50% / contain no-repeat;
}

.btn_nav_open.btn_nav::after {
    content: 'Закрыть';
}

.btn_nav_open.btn_nav::before {
    background: url('../img/Close.svg') 50% / contain no-repeat;
}

.nav__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
}

.nav__wrapper_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.btn_sound {
    width: 32px;
    height: 32px;


}

.btn_sound svg path {
    stroke: #ffffff !important;
}

.screen_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

.screen_menu.hidden {
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

.menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 43px;
    color: #ffffff;

}

.menu-item__img-wrapper {
    width: 232px;
    height: 144px;
    outline: 3px solid #FFFFFF;
    outline-offset: 5px;
    border-radius: 15px;
    overflow: hidden;

}

.menu-item__img {

    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;


}

.swiper-container {
    height: 100%;
    width: 100%;
    padding-left: 23%;
}

.swiper-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

}

.swiper-wrapper .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0;

    height: auto !important;
    min-height: 100px;
}

.swiper-wrapper .swiper-slide-active {
    padding: 20px 0;
}

.swiper-wrapper .swiper-slide .menu-item {
    padding-left: 25px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.swiper-wrapper .swiper-slide .menu-item__num {
    font-size: 28px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.swiper-wrapper .swiper-slide .menu-item__img-wrapper {
    outline: 3px solid #ffffff00;
    width: 156px;
    height: 96px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    pointer-events: none;
}

.swiper-wrapper .swiper-slide-active .menu-item__num {
    font-size: 58px;
}

.swiper-wrapper .swiper-slide-active .menu-item__img-wrapper {
    outline: 3px solid #ffffff;
    width: 232px;
    height: 144px;
    cursor: pointer;
    pointer-events: all;
}

.swiper-wrapper .swiper-slide-active .menu-item {
    padding-left: 0;

}

.swiper-wrapper .swiper-slide .menu-item__title {
    font-size: 22px;
    margin-bottom: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.swiper-wrapper .swiper-slide .menu-item__text {
    max-width: 304px;
    width: 100%;
    opacity: 0;
    max-height: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    font-size: 18px;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.swiper-wrapper .swiper-slide-active .menu-item__title {
    font-size: 28px;
    margin-bottom: 12px;
}

.swiper-wrapper .swiper-slide-active .menu-item__text {
    font-size: 18px;
    max-width: 304px;
    max-height: 200px;
    width: 100%;
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

.screen_room.hidden {
    pointer-events: none;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.screen_room {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.popup_item {
    max-width: 417px;
    width: 100%;
    background: #F3F5F780;
    -webkit-backdrop-filter: blur(34px);
    backdrop-filter: blur(34px);
    border-radius: 20px;
    position: absolute;

    -webkit-transition: .5s;

    -o-transition: .5s;

    transition: .5s;

}

.popup_item.hidden {
    -webkit-transform: translateX(-100vw);
    -ms-transform: translateX(-100vw);
    transform: translateX(-100vw);
    pointer-events: none;
    opacity: 0;
}

.popup_item__top_img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    /* -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); */
}

.popup_item__top {
    background: #FFFFFF;
    border-radius: 20px;
    height: 220px;
    width: 100%;
}

.popup_item__info {
    padding: 25px;
}

.popup_item__title {
    text-align: center;
    margin-bottom: 25px;
}

.popup_item__title_top {
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.popup_item__title_main {
    font-weight: 500;
    font-size: 18px;
}

.popup_item__text {
    font-size: 14px;
    font-weight: 400;
    max-height: 160px;
    overflow: auto;
}
.screen_popup_items-container {
    overflow-y: auto;
}
.screen_popup_items-container::-webkit-scrollbar,
.popup_item__text::-webkit-scrollbar {
    width: 6px; 
}
.screen_popup_items-container::-webkit-scrollbar-thumb,
.popup_item__text::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); 
    border-radius: 3px; 
}
.screen_popup_items-container::-webkit-scrollbar-track,
.popup_item__text::-webkit-scrollbar-track {
    background-color: transparent;
}
.popup_item__close {
    position: absolute;
    cursor: pointer;
    top: 18px;
    right: 18px;
    width: 24px;
    height: 24px;
    background: url('../img/Close_bl.svg') 50% / contain no-repeat;
}

.btn_video {
    cursor: pointer;
    width: 119px;
    height: 119px;
    border-radius: 100%;
    background: #C2C4CA99;
    border: 1px solid #FFFFFF66;
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    padding-left: 49px;
    left: 30%;
    top: 20%;
    position: absolute;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;

}

.btn_video.hidden {
    transform: scale(0);
    opacity: 0;
    pointer-events: none;
}

.btn_video::before {
    content: '';
    display: block;
    width: 30px;
    height: 42px;
    background: url('../img/item_btn.svg') 50% / contain no-repeat;
}

.popup_item__btn_popup {
    cursor: pointer;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    position: fixed;
    top: 20%;
    left: 50%;
    border: 6px solid #1b1b1b83;
    transition: .3s;

}

.popup_item__btn_popup::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: #24F0FF;
}

.popup_item__btn_popup.hidden {
    transform: scale(0);
    opacity: 0;
    pointer-events: none;
}

.screen_elements {
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.screen_popup_items-container {
    
    padding-top: 10vh;
    justify-content: center;
    display: flex;
    pointer-events: none;
}
.popup_item {
    pointer-events: all;
}
.screen_elements>* {
    pointer-events: all;
}

.popup_block {
    max-width: 562px;
    width: 100%;
    border-radius: 20px;
    position: absolute;
    
    transition: .5s;
    background: #00000094;
   
    

}
.popup_block__header {
    padding: 21px 30px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popup_block__content {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 50px;
    padding-bottom: 73px;
   overflow: hidden;
    
}
.popup__close {
    width: 24px;
    height: 24px;
    background: url('../img/Close.svg') 50% / contain no-repeat;
    cursor: pointer;
}
.popup_block.hidden {
    opacity: 0;
    pointer-events: none;
    transform: scale(0);
}

.popup_block__page__img-wrapper {
    width: 143px;
    height: 167px;
    flex-shrink: 0;

}

.popup_block__page__img {
    width: 100%;
    height: 100%;

    object-fit: contain;
}
.popup_block__title {
    font-size: 26px;
}
.popup_block__text {
    font-size: 14px;
}
.popup_block__page__info {
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.popup_btn {
    width: 195px;
    height: 60px;
    border-radius: 46px;
    background: #A7E541;
    position: absolute;
    bottom: -30px;
}
.popup_btn.popup_start__btn::after {
    position: absolute;
    content: '';
    top: 8px;
    right: 8px;
    width: 44px;
    height: 44px;
    background: url('../img/btn-popup.svg') 50% / contain no-repeat;
}
.popup_btn.popup_start__btn.start::after {
    display: none;
}
.page-slide_paginations {
    display: flex;
    gap: 10px;
}

.pagination-dot {
    width: 50px;
    height: 2px;
    background-color: #ffffff;
    opacity: .3;
    cursor: pointer;
    transition: opacity 0.3s;
}

.pagination-dot.active {
    opacity: 1;
}

.popup_block__page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    gap: 40px;
    display: flex;
    align-items: end;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.popup_block__page.anim-out {
    animation: fadeOut 0.5s ease ;
}

.popup_block__page.anim-in {
    animation: fadeIn 0.5s ease;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.popup_block__page.active {
    position: relative;
    opacity: 1;
    visibility: visible;
    display: flex;
}

.popup_slider {
    position: relative;
    min-height: 217px; /* или подходящая высота */
    
}

.screen_loader {
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #383838ee;
    transition: .3s;
}
.screen_loader.hidden {
    opacity: 0;
    pointer-events: none;
}
.test_btn {
    padding: 10px;
   
}
.test_container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}

